body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    margin: 1.5rem 1rem 1.5rem 1rem;
    display: flex;
}

main {
    display: flex;
    flex-direction: row;
}
aside {
    width: 7rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
aside h1 {
    margin: 2rem 0 4rem 0;
    font-size: 3rem;
}
aside div:last-child {
    margin: 14rem 0 4rem 0;
    padding-bottom: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    width: 39rem;
    margin: 1.5rem 2rem 1rem 5rem;
}

.hello {
   background-color: rgb(245, 245, 247);
   width: 40rem;
   height: 20rem;
   border-radius: 1rem;
   padding: 2.2rem 0 2.5rem 2rem;
   position: relative;
   
}

.hello img {
    position: absolute;
    top: -2.3rem;
    left: 22rem;
}

.intro {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-items: center;
}
.intro div {
    display: flex;
    width: 32rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: rgb(245, 245, 247);
}

.intro img:first-child {
    padding: 0.9rem;
    margin: 0.4rem 1.5rem 0.4rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
}

.intro div :nth-child(3) {
    padding: 0.7rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col span {
    font-weight: 700;
}
.intro div button {
    color: white;
    background-color: black;
    margin: 1rem 1rem 1rem 2rem;
}

.intro svg {
    margin-left: 1rem;
}

.left h3 {
    margin: 1rem 0 0.7rem 0;
    font-size: 1.5rem;
}

.left nav a{
    text-decoration: none;
    color: rgb(181, 181, 181);
    margin-right: 2rem;
}
.left nav a:first-child {
    color: black;
    font-weight: 700;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40.5rem;
    height: 4.7rem;
    gap: 0.8rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    background-color: rgb(245, 245, 247);
}

.details div {
    flex-grow: 2;
}

.details img {
    background-color: white;
    border-radius: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.4rem;
}

.details span {
    font-weight: 700;
    font-size: 1.2rem;
}

.details button {
    color: white;
    background-color: black;
    width: 8rem;
    margin: 0 1rem 0 1rem;
}


.right {
    margin: 1.5rem 2rem 1rem 4rem;
}

header {
    display: flex;
    height: 10rem; 
}

hearder div {
    background-color: rgb(245, 245, 247);
}

.icons {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 1.1rem;
}

button {
    width: 20rem;
    height: 2rem;
    border: none;
    margin-right: 3rem;
    border-radius: 5px;
}

.icons :first-child {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.icons img {
    margin-left: 2rem;
}

.courses {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.courses div {
    display: flex;
    align-items: center;
    width: 13.6rem;
    background-color: rgb(245, 245, 247);
    border-radius: 0.5rem;
    padding: 0 3rem 0 1rem;
}

.courses span {
    font-size: 2.3rem;
    padding: 0.8rem;
    font-weight: 700;
}

.stat h2 {
    margin-top: -0.7rem;

}

.title-line {
    display: flex;
    gap: 2rem;  
    align-items: center;  
}

.title-line span {
    font-weight: 900;
}

.title-line p {
    color: rgb(181, 181, 181);
}

.title-line .button {
    display: flex;
    width: 7rem;
    margin-left: 5.5rem;
    background-color: rgb(245, 245, 247);
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.chart {
    width: 29rem;
    margin-top: 0.5rem;
}

.final {
    width: 29rem;
    height: 11rem;
    background-color: rgb(245, 245, 247);
    padding: 1rem 0 1rem 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
    position: relative;
}

.final p {
    width: 45%;
    margin: 0.5rem 0 1.3rem 0;
}

.final button {
    background-color: black;
    color: white;
    width: 8rem;
}

.final img {
    position: absolute;
    bottom: 2rem;
    right: 3.5rem;
}